<div class="flex flex-col items-center py-4">
  <%= link_to "#" do %>
    <%=
      inline_svg_tag 'icons/arrow_up',
                     class:
                       'w-4 h-4 hover:text-secondary-focus cursor-pointer transform-color duration-300'
    %>
  <% end %>
  <span class="py-1 font-bold text-medium">3</span>

  <%= link_to "#" do%>
    <%=
      inline_svg_tag 'icons/arrow_down',
                     class:
                       'w-4 h-4 hover:text-error cursor-pointer transform-color duration-300'
    %>
  <% end %>
</div>
