<div class="container m-auto px-2 sm:px-0">
  <div class="p-8 sm:p-12 md:p-16 rounded-xl shadow-lg bg-base-200 mx-auto xl:w-1/3 lg:w-1/2 md:w-3/4 sm:w-2/3 w-full">
      <%= yield :devise_form %>
  </div>
</div>
