<div
  class="p-4 pb-4 border border-base-content shadow-md shadow-base-content hover:shadow-base-content hover:shadow-lg rounded-xl transition duration-300"
>
  <div
    class="flex items-center pb-4 text-2xl font-bold rounded-t-xl border-b border-base-content"
  >
    <%= inline_svg_tag 'icons/reddit-guidelines', class: 'h-12 w-12 mr-2' %>
    <span>Posting to Rubbit</span>
  </div>
  <ol>
    <li
      class="font-sm pl-2 py-2 border-b border-base-content list-decimal list-inside"
    >
      Remember the human
    </li>
    <li
      class="font-sm pl-2 py-2 border-b border-base-content list-decimal list-inside"
    >
      Behave like you would in real life
    </li>
    <li
      class="font-sm pl-2 py-2 border-b border-base-content list-decimal list-inside"
    >
      Look for the original source of content
    </li>
    <li
      class="font-sm pl-2 py-2 border-b border-base-content list-decimal list-inside"
    >
      Search for duplicates before posting
    </li>
    <li
      class="font-sm pl-2 py-2 border-b border-base-content list-decimal list-inside"
    >
      Read the community’s rules
    </li>
  </ol>
</div>
