<p>
  Post by <%= link_to "u/#{submission.user.username.truncate(30)}", "#", class: "font-semibold hover:text-primary transform-color duration-300" %> <%= time_ago_in_words(submission.created_at) %> ago
</p>