<div class="flex flex-col items-center pt-4 pl-4">
  <%= link_to "#" do %>
    <%=
      inline_svg_tag 'icons/arrow_up',
                     class:
                       'hover:text-secondary-focus cursor-pointer transform-color duration-300'
    %>
  <% end %>
  <span class="py-1 font-bold text-lg">3</span>
  
  <%= link_to "#" do%>
  <%=
    inline_svg_tag 'icons/arrow_down',
                   class:
                     'hover:text-error cursor-pointer transform-color duration-300'
  %>
  <% end %>
</div>
